<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dao.mapper.ReportMapper">
	<select id="findByQuery" parameterType="com.company.service.dto.QueryVo" resultType="com.company.service.dto.QueryResult">
		select classId,studentName from t_class,t_student where className=#{className} and region=#{region}
	</select>

</mapper>